# --------------------------------------
# Python
# --------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.dll

# Virtual environments
venv/
env/
.venv/
.env/
ENV/
*.virtualenv

# Jupyter notebooks
.ipynb_checkpoints/

# IDE / Editor
.vscode/

# MyPy / static analysis
.mypy_cache/
.dmypy.json
dmypy.json

# Temp files
*.tmp
*.temp
.tmp/
.temp/
